/*
  Autor: Francisco García Caparrós
  Activitat: PAC3
  Assignatura: Visualització de dades
  Versió: 1
*/

/* Per a tot el document */
body {
      margin: 0;
      font-family: sans-serif;
	  background: rgb(245, 247, 250);
    }
p {
	text-align: justify;
}
	
/* Secció d'intruducció */
.intro {
  width: 100%;
  min-height: 100vh;
  background: #f5f7fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Imatge de la introducció */
.intro-img {
  width: 100%;
  max-width: 1000px;
  border-radius: 24px;
  display: block;
}

/* Pels iframes de Flourish */
iframe {
  width: 100%;
  height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

/* Classe principal */
.section {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  line-height: 1.6;
  font-size: 18px;
}

/* Alguns paràgrafs no estan alineats correctament a l'esquerra */
.p-corrected {
  margin-left: 5px;
}

/* Opcions de la classe principal */
.section.visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;

}
/* Opcions de la classe principal */
.section-main-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 80px auto 40px auto;
  max-width: 1000px;
}

/* Per centrar títols */
.section-main-title-intro {
  text-align: center;
  margin-bottom: 20px;
  max-width: 1000px;
  font-size: 30px;
}

/* Opcions subtítols */
.section-main-sub-title-intro {
  text-align: center;
  margin-bottom: 20px;
  max-width: 1000px;
  font-size: 20px;
}

/* Per reduir gràfics */
.small-chart {
  transform: scale(0.90);
  transform-origin: top center;
  display: flex;
  justify-content: center;
}

/* Per dues columnes, text i gràfic */
.two-col {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 40px;
  align-items: start;
  margin-top: 40px;
}

/* Opcions de la classe de les dues columnes */
.two-col-left {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 40px;
  align-items: start;
  margin-top: 40px;
}
/* Opcions de la classe de les dues columnes */
.two-col-title {
  grid-column: 1 / -1; /* el título ocupa las dos columnas */
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
}
/* Opcions de la classe de les dues columnes */
.two-col .text-col {
  font-size: 18px;
  line-height: 1.6;
}
/* Opcions de la classe de les dues columnes */
.two-col .iframe-col iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 12px;
}

/* Per eliminar les vores d'alguns gràfics de Flourish que no són iframes */
.flourish-embed.no-border iframe {
  border: none;
}

/* Secció de conclusions */
.conclusions-grid {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 20px;
  align-items: center;
  min-height: 100vh;
}
/* Opcions de la secció de les conclusions */
.conclusions-left {
  display: flex;
  justify-content: center;
}
/* Opcions de la secció de les conclusions */
.conclusions-img {
  width: 100%;
  max-width: 650px;
  border-radius: 24px;
  display: block;
}
/* Opcions de la secció de les conclusions */
.conclusions-right {
  width: 800px;
  max-width: 800px;
  text-align: justify;
}

/* Secció 2, 2 gràfics en una matriu de 2x2 amb textos */
.matrix-2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 40px;
  row-gap: 10px;
}

/* Opcions de la matriu */
.matrix-2x2 h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}

/* Opcions de la matriu */
.matrix-2x2 p {
  font-size: 18px;
  line-height: 1.6;
}